name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:

  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Test
      run: make test

    - name: Upload coverage to Codecov
      timeout-minutes: 10
      if: matrix.os == 'ubuntu-18.04' && github.repository == 'scoir/canis'
      uses: codecov/codecov-action@v1.0.6
      with:
        file: ./coverage.txt

  publish:
    name: Publish Docker Image
    runs-on: ubuntu-18.04
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build
      run: make
